[package]
authors = ["Ryan Bottriell <rbottriell@imageworks.com>"]
edition = { workspace = true }
name = "spk-solve"
version = { workspace = true }

[features]
sentry = ["dep:sentry", "spfs/sentry"]
migration-to-components = []

[dependencies]
async-recursion = "1.0"
async-stream = "0.3"
async-trait = { workspace = true }
colored = "2.0"
console = "0.15"
crossterm = "0.24"
ctrlc = "3.2"
futures = "0.3.9"
itertools = "0.10"
once_cell = "1.8"
priority-queue = "1.2"
serde_json = "1.0"
sentry = { workspace = true, optional = true }
signal-hook = "0.3"
spfs = { version = '0.34.6', path = "../spfs" }
spk-solve-graph = { path = "./crates/graph" }
spk-solve-package-iterator = { path = "./crates/package-iterator" }
spk-solve-solution = { path = "./crates/solution" }
spk-solve-validation = { path = "./crates/validation" }
spk-schema = { path = "../spk-schema" }
spk-storage = { path = "../spk-storage" }
thiserror = "1.0"
tokio = { workspace = true, features = ["rt"] }
tracing = { workspace = true }

[dev-dependencies]
rstest = "0.15.0"
strip-ansi-escapes = { workspace = true }
