.coverage
__pycache__/
.mypy_cache/
.pytest_cache/
.vscode/
coverage.xml
.coverage.*
build/
build
dist/
*.egg-info
spfs.build/
spfs.dist/
.venv/
prof/
# GENERATED FOR spdev:Pipenv
.venv/
# END spdev:Pipenv
