[[source]]
name = "pypi"
url = "http://pypi.spimageworks.com/spi/dev/"
verify_ssl = false

[dev-packages]
pytest = "*"
pytest-watch = "*"
pydocstyle = "*"
rope = "*"
pylint = "*"
pex = "*"
pytest-cov = "*"
mypy = "*"
black = "*"
pipenv = "*"
pytest-mypy = "*"
spenv = {editable = true,path = "."}

[packages]
pyyaml = "~=5.1"
colorama = "*"
typing-extensions = "*"
simplejson = "*"
structlog = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
