[[source]]
name = "pypi"
url = "http://pypi.spimageworks.com/spi/dev/"
verify_ssl = false

[dev-packages]
pytest = "*"
pytest-watch = "*"
pydocstyle = "*"
pylint = "*"
pex = "*"
pytest-cov = "*"
mypy = "*"
pytest-mypy = "*"
spenv = {editable = true,path = "."}
black = "*"
pytest-timeout = "*"
nuitka = "*"

[packages]
pyyaml = "~=5.1"
colorama = "~=0.4.1"
typing-extensions = "~=3.7"
simplejson = "~=3.17"
structlog = "~=19.2"
sentry-sdk = "==0.10.2"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
