[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spfs-cli-monitor"
version = "0.34.6"

[[bin]]
name = "spfs-monitor"
path = "src/cmd_monitor.rs"

[features]
sentry = ["spfs/sentry", "spfs-cli-common/sentry"]

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
nix = { workspace = true }
spfs = { path = "../../spfs", features = ["fuse-backend"] }
spfs-cli-common = { path = "../common" }
tokio = { version = "1.20", features = ["rt", "rt-multi-thread"] }
tracing = { workspace = true }
url = "2.2"
