.coverage
coverage.xml
.benchmarks
.coverage
.coverage.*

# spdev
/build/
dist/
.venv/
/config.mak

# spComp2
.components.*

# editors
.idea/
.vscode/
.nfs*
.secrets
# GENERATED FOR spdev:Shell

# END spdev:Shell
# GENERATED FOR spdev:Pipenv
.venv/
# END spdev:Pipenv
# GENERATED FOR spdev:Rust
target/
# END spdev:Rust
.devcontainer/
.cache/
.hugo_build.lock
/.cargo/
