
# python
__pycache__/
*.pyc
*.egg-info/
.mypy_cache/
.coverage
coverage.xml
.benchmarks
.coverage
.coverage.*
*.so
.eggs/

# spdev
/build/
dist/
.venv/

# spComp2
.components.*

# editors
.idea/
.vscode/
.nfs*
# GENERATED FOR spdev:Shell

# END spdev:Shell
# GENERATED FOR spdev:Pipenv
.venv/
# END spdev:Pipenv
# GENERATED FOR spdev:Rust
target/
# END spdev:Rust
