[package]
authors = ["Ryan Bottriell <rbottriell@imageworks.com>"]
edition = "2018"
name = "spk"
version = "0.22.4"

[lib]
crate-type = ["cdylib"]
name = "spk"
path = "src/lib.rs"

[features]
default = ["extension-module"]
extension-module = ["pyo3/extension-module"]

[dependencies]
pyo3 = {version = "0.13.2"}
relative-path = "1.3.2"
spfs = {git = 'https://gitlab.spimageworks.com/spi/dev/dev-ops/spfs', tag = 'v0.22.1'}
tracing = "0.1.25"
tracing-subscriber = "0.2.16"
