[profile.release]
lto = true
codegen-units = 1

[workspace]
members = [
    "crates/progress_bar_derive_macro",
    "crates/spfs-encoding",
    "crates/spfs",
    "crates/spk-build",
    "crates/spk-cli/*",
    "crates/spfs-cli/*",
    "crates/spk-exec",
    "crates/spk-config",
    "crates/spk-launcher",
    "crates/spk-schema",
    "crates/spk-schema/crates/*",
    "crates/spk-solve",
    "crates/spk-solve/crates/*",
    "crates/spk-storage",
    "crates/spk",
]
resolver = "2"

[workspace.package]
authors = [
    "Ryan Bottriell <ryan@bottriell.ca>",
    "J Robert Ray <jrray@imageworks.com>",
    "David Gilligan-Cook <dcook@imageworks.com>",
    "Nichol Yip <nyip@imageworks.com>",
]
edition = "2021"
version = "0.36.0"

[workspace.dependencies]
anyhow = "1.0"
async-trait = "0.1"
cached = "0.42.0"
chrono = { version = "0.4.19", features = ["serde"] }
clap = { version = "4.3", features = ["derive", "env"] }
colored = "2.0.0"
config = "0.13.1"
console = "0.15"
dashmap = "5.4.0"
dyn-clone = "1.0"
dirs = "5.0"
futures = "0.3.24"
fuser = "0.12"
glob = "0.3"
indicatif = "0.17.5"
libc = "0.2.80"
nix = "0.26.2"
nom = "7.1"
nom-supreme = "0.8"
nonempty = "0.8.1"
once_cell = "1.8"
pin-project-lite = "0.2.0"
procfs = "0.13.2"
progress_bar_derive_macro = { path = "crates/progress_bar_derive_macro" }
rstest = "0.15.0"
sentry = { version = "0.27.0" }
sentry-anyhow = { version = "0.27.0" }
sentry-tracing = { version = "0.27.0" }
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.9.25"
strip-ansi-escapes = "0.1.1"
strum = { version = "0.24", features = ["derive"] }
thiserror = "1.0"
tempfile = "3.3"
tokio = { version = "1.28", features = ["rt"] }
tokio-retry = "0.3.0"
tracing = "0.1.35"
tracing-capture = "0.1"
tracing-subscriber = "0.3.14"
whoami = "1.2"
