[package]
authors = ["Ryan Bottriell <rbottriell@imageworks.com>"]
edition = "2018"
name = "spk"
version = "0.31.0"

[lib]
name = "spk"
path = "src/lib.rs"

[[bin]]
name = "spk"
path = "src/cli/bin.rs"

[features]
sentry = ["dep:sentry"]

[dependencies]
anyhow = "1.0.56"
clap = { version = "3.1.6", features = ["derive", "env"] }
colored = "2.0.0"
data-encoding = "2.3.0"
dyn-clone = "1.0.4"
enum_dispatch = "0.3.8"
futures = "0.3.9"
glob = "0.3.0"
ignore = "0.4.18"
indexmap = "1.7.0"
itertools = "0.9"
lazy_static = "1.4.0"
nom = "7.1"
once_cell = "1.8.0"
regex = "1.5.4"
relative-path = "1.3.2"
ring = "0.16.15"
serde = { version = "1.0.117", features = ["derive"] }
serde_derive = "1.0.118"
serde_json = "1.0.57"
serde_yaml = "0.8.17"
sentry = { version = "0.21.0", optional = true }
# This version should match the release branch used in .github/workflows/test.yml
spfs = { git = 'https://github.com/imageworks/spfs', tag = 'v0.34.1' }
sys-info = "0.9.0"
tar = "0.4.30"
tempdir = "0.3.7"
tokio = { version = "1.15", features = ["rt"] }
tracing = "0.1.25"
tracing-subscriber = "0.2.16"
url = "2.2"

[target.'cfg(target_os = "linux")'.dependencies]
nix = "0.23.1"

[dev-dependencies]
rstest = "0.9.0"
