[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spfs-cli-winfsp"
version = { workspace = true }
license-file = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }
description = { workspace = true }

[lints]
workspace = true

[[bin]]
name = "spfs-winfsp"
path = "src/cmd_winfsp.rs"

[features]
sentry = ["spfs-cli-common/sentry"]

[dependencies]
clap = { workspace = true }
dashmap = { workspace = true }
libc = "0.2"
miette = { workspace = true, features = ["fancy"] }
nix = { workspace = true, features = ["process"] }
spfs-vfs = { workspace = true, features = ["winfsp-backend"] }
spfs = { workspace = true, features = ["winfsp-backend"] }
spfs-cli-common = { workspace = true }
tokio = { version = "1.20", features = ["rt"] }
tracing = { workspace = true }
tonic = { workspace = true }
tower = { workspace = true }
url = "2.2"

[target.'cfg(windows)'.dependencies]
winfsp = { workspace = true, default-features = false, features = [
    "build",
    "delayload",
] }
winfsp-sys = "0.2"
windows = { workspace = true, features = ["Win32_System_Threading"] }

[target.'cfg(windows)'.build-dependencies]
winfsp = { workspace = true, default-features = false, features = [
    "build",
    "delayload",
] }
