[package]
authors = ["Ryan Bottriell <rbottriell@imageworks.com>"]
default-run = "spfs"
edition = { workspace = true }
name = "spfs-cli-main"
version = "0.34.6"

[[bin]]
name = "spfs"
path = "src/bin.rs"

[features]
sentry = ["spfs-cli-common/sentry"]
server = ["spfs/server", "dep:hyper", "dep:tonic", "dep:url"]
fuse = ["spfs/fuse-backend"]

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
chrono = { workspace = true }
colored = "2.0"
futures = { workspace = true }
hyper = { version = "0.14.16", optional = true }
itertools = "0.10.3"
nix = { workspace = true }
number_prefix = "*"                                                           # we hope to match versions with indicatif
procfs = { workspace = true }
relative-path = "1.3"
serde_json = { workspace = true }
spfs = { path = "../../spfs" }
spfs-cli-common = { path = "../common" }
strum = { workspace = true, features = ["derive"] }
tokio = { version = "1.20", features = ["io-util", "rt", "rt-multi-thread"] }
tokio-stream = { version = "0.1", features = ["net"] }
tonic = { version = "0.8", optional = true }
tracing = { workspace = true }
unix_mode = "0.1.3"
url = { version = "2.2", optional = true }
