[package]
authors = ["Ryan Bottriell <rbottriell@imageworks.com>"]
default-run = "spfs"
edition = "2021"
name = "spfs-cli-main"
version = "0.34.6"

[[bin]]
name = "spfs"
path = "src/bin.rs"

[features]
sentry = ["spfs-cli-common/sentry"]
server = ["spfs/server", "dep:hyper", "dep:tonic", "dep:url"]

[dependencies]
clap = { workspace = true }
chrono = { workspace = true }
colored = "2.0"
futures = "0.3.9"
hyper = { version = "0.14.16", optional = true }
itertools = "0.10.3"
nix = "0.24.1"
procfs = { workspace = true }
relative-path = "1.3"
serde_json = "1.0"
spfs = { path = "../../spfs" }
spfs-cli-common = { path = "../common" }
tokio = { version = "1.20", features = ["io-util", "rt", "rt-multi-thread"] }
tokio-stream = { version = "0.1", features = ["net"] }
tonic = { version = "0.8", optional = true }
tracing = "0.1.22"
url = { version = "2.2", optional = true }
