[package]
authors = { workspace = true }
default-run = "spfs"
description = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license-file = { workspace = true }
name = "spfs-cli-main"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[lints]
workspace = true

[[bin]]
name = "spfs"
path = "src/bin.rs"

[features]
fuse = ["spfs/fuse-backend"]
sentry = ["spfs-cli-common/sentry"]
server = [
    "dep:hyper",
    "dep:hyper-util",
    "dep:tonic",
    "dep:url",
    "hyper/server",
    "spfs/server",
]

[dependencies]
async-recursion = "1.0.2"
chrono = { workspace = true }
clap = { workspace = true }
colored = "2.0"
dunce = { workspace = true }
futures = { workspace = true }
hyper = { workspace = true, optional = true, features = ["http1"] }
hyper-util = { workspace = true, optional = true }
itertools = "0.10.3"
libc = { workspace = true }
miette = { workspace = true, features = ["fancy"] }
nix = { workspace = true, features = ["signal"] }
number_prefix = "*"                                                           # we hope to match versions with indicatif
relative-path = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
spfs = { workspace = true }
spfs-cli-common = { workspace = true }
strum = { workspace = true, features = ["derive"] }
tokio = { workspace = true, features = ["io-util", "rt", "rt-multi-thread"] }
tokio-stream = { version = "0.1", features = ["net"] }
tonic = { workspace = true, optional = true }
tracing = { workspace = true }
unix_mode = "0.1.3"
url = { version = "2.2", optional = true }

[target.'cfg(unix)'.dependencies]
procfs = { workspace = true }

[target.'cfg(windows)'.dependencies.windows]
features = [
    "Win32_Foundation",
    "Win32_System_SystemInformation",
    "Win32_System_Threading",
]
version = "0.51"

[dev-dependencies]
rstest = { workspace = true }
tempfile = { workspace = true }
