[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-cmd-repo"
version = { workspace = true }

[lints]
workspace = true

[dependencies]
miette = { workspace = true, features = ["fancy"] }
async-trait = { workspace = true }
clap = { workspace = true }
spk-cli-common = { path = '../common' }
spk-storage = { path = '../../spk-storage' }
tracing = { workspace = true }
