[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-cmd-make-binary"
version = { workspace = true }

[lints]
workspace = true

[features]
migration-to-components = [
    "spk-build/migration-to-components",
    "spk-cli-common/migration-to-components",
    "spk-schema/migration-to-components",
    "spk-storage/migration-to-components",
]

[dependencies]
miette = { workspace = true, features = ["fancy"] }
async-trait = { workspace = true }
clap = { workspace = true }
futures = { workspace = true }
spfs = { path = '../../spfs' }
spk-build = { path = '../../spk-build' }
spk-cli-common = { path = '../common' }
spk-schema = { path = '../../spk-schema' }
spk-storage = { path = '../../spk-storage' }
tokio = { workspace = true, features = ["rt"] }
tracing = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
tempfile = { workspace = true }
