[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-cmd-make-binary"
version = { workspace = true }
license-file = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }
description = { workspace = true }

[lints]
workspace = true

[features]
migration-to-components = [
  "spk-build/migration-to-components",
  "spk-cli-common/migration-to-components",
  "spk-schema/migration-to-components",
  "spk-storage/migration-to-components",
]

[dependencies]
miette = { workspace = true, features = ["fancy"] }
async-trait = { workspace = true }
clap = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true }
spfs = { workspace = true }
spk-build = { workspace = true }
spk-cli-common = { workspace = true }
spk-schema = { workspace = true }
spk-storage = { workspace = true }
tokio = { workspace = true, features = ["rt"] }
tracing = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
tempfile = { workspace = true }
