[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spfs-cli-fuse"
version = "0.34.6"

[[bin]]
name = "spfs-fuse"
path = "src/cmd_fuse.rs"

[features]
fuse-backend-abi-7-22 = ["spfs-vfs/fuse-backend-abi-7-22"]
fuse-backend-abi-7-25 = ["spfs-vfs/fuse-backend-abi-7-25"]
fuse-backend-abi-7-28 = ["spfs-vfs/fuse-backend-abi-7-28"]
fuse-backend-abi-7-31 = ["spfs-vfs/fuse-backend-abi-7-31"]
fuse-backend-rhel-7-6 = ["spfs-vfs/fuse-backend-rhel-7-6"]
fuse-backend-rhel-7-9 = ["spfs-vfs/fuse-backend-rhel-7-9"]
sentry = ["spfs-cli-common/sentry"]

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
dashmap = { workspace = true }
fuser = { workspace = true }
spfs-vfs = { path = "../../spfs-vfs" }
nix = { workspace = true, features = ["process"] }
libc = "0.2"
spfs = { path = "../../spfs" }
spfs-cli-common = { path = "../common" }
tokio = { version = "1.20", features = ["rt", "rt-multi-thread"] }
tracing = { workspace = true }
url = "2.2"
