[package]
authors = ["Ryan Bottriell <rbottriell@imageworks.com>"]
edition = { workspace = true }
name = "spk-cmd-build"
version = { workspace = true }

[features]
migration-to-components = [
	"spk-cli-common/migration-to-components",
	"spk-cmd-make-binary/migration-to-components",
	"spk-cmd-make-source/migration-to-components",
]

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
clap = { workspace = true }
spk-cli-common = { path = '../common' }
spk-cmd-make-binary = { path = '../cmd-make-binary' }
spk-cmd-make-source = { path = '../cmd-make-source' }

[dev-dependencies]
rstest = { workspace = true }
spk-schema = { path = '../../spk-schema' }
spk-storage = { path = '../../spk-storage' }
tempfile = { workspace = true }
tokio = { workspace = true }