[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-cmd-build"
version = { workspace = true }
license-file = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }
description = { workspace = true }

[lints]
workspace = true

[features]
migration-to-components = [
    "spk-cli-common/migration-to-components",
    "spk-cmd-make-binary/migration-to-components",
    "spk-cmd-make-source/migration-to-components",
]

[dependencies]
miette = { workspace = true, features = ["fancy"] }
async-trait = { workspace = true }
clap = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true }
spfs = { workspace = true }
spk-cli-common = { workspace = true }
spk-cmd-make-binary = { workspace = true }
spk-cmd-make-source = { workspace = true }
spk-schema = { workspace = true }
spk-storage = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
serial_test = { workspace = true }
spk-schema = { workspace = true }
spk-storage = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true }
