[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-cli-common"
version = { workspace = true }
license-file = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }
description = { workspace = true }

[lints]
workspace = true

[features]
migration-to-components = [
    "spk-build/migration-to-components",
    "spk-config/migration-to-components",
    "spk-exec/migration-to-components",
    "spk-solve/migration-to-components",
    "spk-schema/migration-to-components",
    "spk-storage/migration-to-components",
]
sentry = [
    "dep:sentry",
    "dep:sentry-tracing",
    "spk-solve/sentry",
    "spk-build/sentry",
    "spfs/sentry",
]
statsd = ["dep:statsd", "spk-solve/statsd"]

[dependencies]
miette = { workspace = true, features = ["fancy"] }
async-trait = { workspace = true }
clap = { workspace = true }
colored = { workspace = true }
futures = { workspace = true }
glob = { workspace = true }
nom = { workspace = true }
nom-supreme = { workspace = true }
once_cell = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
sentry = { workspace = true, optional = true }
sentry-tracing = { workspace = true, optional = true }
spfs = { workspace = true }
spk-build = { workspace = true }
spk-config = { workspace = true }
spk-exec = { workspace = true }
spk-solve = { workspace = true }
spk-schema = { workspace = true }
spk-storage = { workspace = true }
spk-workspace = { workspace = true }
statsd = { version = "0.15.0", optional = true }
strip-ansi-escapes = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["rt"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
whoami = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
nix = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
