[package]
authors = ["Ryan Bottriell <rbottriell@imageworks.com>"]
edition = { workspace = true }
name = "spk-cli-common"
version = { workspace = true }

[features]
sentry = ["dep:sentry", "dep:sentry-anyhow", "dep:sentry-tracing", "dep:strip-ansi-escapes", "spk-solve/sentry", "spk-build/sentry", "spfs/sentry"]

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
clap = { workspace = true }
colored = { workspace = true }
futures = "0.3.9"
glob = "0.3.0"
lazy_static = { workspace = true }
once_cell = "1.8.0"
serde_json = "1.0.57"
serde_yaml = "0.8.17"
sentry = { workspace = true, optional = true }
sentry-anyhow = { workspace = true, optional = true }
sentry-tracing = { version = "0.27.0", optional = true }
spfs = { version = '0.34.6', path = "../../spfs" }
spk-build = { path = '../../spk-build' }
spk-exec = { path = '../../spk-exec' }
spk-solve = { path = '../../spk-solve' }
spk-schema = { path = '../../spk-schema' }
spk-storage = { path = '../../spk-storage' }
strip-ansi-escapes = { version = "0.1.1", optional = true }
thiserror = "1.0"
tokio = { workspace = true, features = ["rt"] }
tracing = { workspace = true }
tracing-subscriber = { version = "0.3.14", features = ["env-filter"] }
whoami = "1.2"

[target.'cfg(target_os = "linux")'.dependencies]
nix = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
