[package]
authors = ["Ryan Bottriell <rbottriell@imageworks.com>"]
edition = { workspace = true }
name = "spk-exec"
version = { workspace = true }

[dependencies]
async-stream = "0.3"
futures = "0.3.9"
relative-path = "1.3"
spfs = { version = '0.34.6', path = "../spfs" }
spk-schema = { path = '../spk-schema' }
spk-storage = { path = "../spk-storage" }
spk-solve = { path = "../spk-solve" }
thiserror = "1.0"
tracing = { workspace = true }
