[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-schema-foundation"
version = { workspace = true }

[features]
default = ["parsedbuf-serde"]
# activates serde within the generated code from parsedbuf macros
parsedbuf-serde = []
migration-to-components = []

[dependencies]
colored = { workspace = true }
data-encoding = "2.3"
enum_dispatch = "0.3.8"
format_serde_error = {version = "0.3", default_features = false, features = ["serde_yaml", "colored"]}
ignore = "0.4.18"
itertools = "0.10"
nom = { workspace = true }
nom-supreme = { workspace = true }
once_cell = { workspace = true }
paste = "1.0"
parsedbuf = { path = "../../../parsedbuf" }
relative-path = "1.3"
ring = "0.16.15"
rstest = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_yaml = "0.8.17"
spfs = { path = "../../../spfs" }
sys-info = "0.9.0"
tempfile = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tracing-capture = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
