[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-cmd-explain"
version = { workspace = true }

[lints]
workspace = true

[dependencies]
miette = { workspace = true, features = ["fancy"] }
async-trait = { workspace = true }
clap = { workspace = true }
spk-cli-common = { path = '../common' }
tokio = { workspace = true, features = ["rt"] }
