[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-cmd-test"
version = { workspace = true }

[lints]
workspace = true

[dependencies]
miette = { workspace = true, features = ["fancy"] }
async-trait = { workspace = true }
clap = { workspace = true }
spfs = { path = "../../spfs" }
spk-build = { path = '../../spk-build' }
spk-cli-common = { path = '../common' }
spk-exec = { path = '../../spk-exec' }
spk-solve = { path = '../../spk-solve' }
spk-schema = { path = '../../spk-schema' }
spk-storage = { path = '../../spk-storage' }
tempfile = { workspace = true }
tokio = { workspace = true, features = ["rt"] }
tracing = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
spk-cmd-build = { path = "../cmd-build" }
