[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spfs-cli-common"
version = { workspace = true }

[lints]
workspace = true

[features]
sentry = [
    "dep:sentry",
    "dep:whoami",
    "spfs/sentry",
    "dep:strip-ansi-escapes",
    "dep:serde_json",
    "dep:sentry-miette",
    "dep:sentry-tracing",
]

[dependencies]
clap = { workspace = true }
libc = { workspace = true }
miette = { workspace = true, features = ["fancy"] }
once_cell = { workspace = true }
sentry = { workspace = true, optional = true }
sentry-miette = { workspace = true, optional = true }
sentry-tracing = { workspace = true, optional = true }
serde_json = { version = "1.0.57", optional = true }
spfs = { workspace = true }
strip-ansi-escapes = { workspace = true, optional = true }
syslog-tracing = "0.2.0"
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = [
    "env-filter",
    "tracing-log",
] }
whoami = { workspace = true, optional = true }
