[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-cli-group2"
version = { workspace = true }

[lints]
workspace = true

[features]
legacy-spk-version-tags = ["spk-cli-common/legacy-spk-version-tags"]

[dependencies]
miette = { workspace = true, features = ["fancy"] }
async-trait = { workspace = true }
clap = { workspace = true }
colored = { workspace = true }
itertools = { workspace = true }
nom = { workspace = true }
nom-supreme = { workspace = true }
spfs = { workspace = true }
spk-cli-common = { workspace = true }
spk-solve = { workspace = true }
spk-schema = { workspace = true }
spk-storage = { workspace = true }
tokio = { workspace = true, features = ["rt"] }
tracing = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
tempfile = { workspace = true }
