[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-cli-group2"
version = { workspace = true }

[lints]
workspace = true

[dependencies]
miette = { workspace = true, features = ["fancy"] }
async-trait = { workspace = true }
clap = { workspace = true }
colored = { workspace = true }
itertools = { workspace = true }
nom = { workspace = true }
nom-supreme = { workspace = true }
spfs = { path = "../../spfs" }
spk-cli-common = { path = '../common' }
spk-solve = { path = '../../spk-solve' }
spk-schema = { path = '../../spk-schema' }
spk-storage = { path = '../../spk-storage' }
tokio = { workspace = true, features = ["rt"] }
tracing = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
tempfile = { workspace = true }
