[package]
authors = ["Ryan Bottriell <rbottriell@imageworks.com>"]
edition = { workspace = true }
name = "spfs-cli-join"
version = "0.34.6"

[[bin]]
name = "spfs-join"
path = "src/cmd_join.rs"

[features]
sentry = ["spfs-cli-common/sentry"]

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
futures = { workspace = true }
spfs = { path = "../../spfs" }
spfs-cli-common = { path = "../common" }
tokio = { version = "1.20", features = ["rt", "rt-multi-thread"] }
tracing = { workspace = true }
