[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-cli-group4"
version = { workspace = true }
license-file = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }
description = { workspace = true }

[lints]
workspace = true

[dependencies]
miette = { workspace = true, features = ["fancy"] }
async-trait = { workspace = true }
clap = { workspace = true }
colored = { workspace = true }
dunce = { workspace = true }
futures = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
itertools = { workspace = true }
spfs = { workspace = true }
spk-cli-common = { workspace = true }
spk-cli-group2 = { workspace = true }
spk-schema = { workspace = true }
spk-schema-ident = { workspace = true }
spk-solve = { workspace = true }
spk-storage = { workspace = true }
spk-workspace = { workspace = true }
strum = { workspace = true }
tokio = { workspace = true, features = ["rt"] }
tracing = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
tempfile = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
