[package]
authors = { workspace = true }
edition = { workspace = true }
name = "spk-cmd-make-source"
version = { workspace = true }

[features]
migration-to-components = [
	"spk-build/migration-to-components",
	"spk-cli-common/migration-to-components",
	"spk-schema/migration-to-components",
	"spk-storage/migration-to-components",
]

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
clap = { workspace = true }
spfs = { path = '../../spfs' }
spk-build = { path = '../../spk-build' }
spk-cli-common = { path = '../common' }
spk-schema = { path = '../../spk-schema' }
spk-storage = { path = '../../spk-storage' }
tracing = { workspace = true }
