name: Artifacts

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  rpms:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
      - uses: actions/checkout@v2
      - name: install dependencies
        run: |
          apt-get update
          apt-get install -y make
      - name: build RPM package
        run: make rpms
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: Binary RPMs
          path: dist/rpm/RPMS/x86_64/
  packages:
    runs-on: ubuntu-latest
    needs: rpms
    # we only build all the packages when
    # it is manually triggered by someone
    if: github.event_name == 'workflow_dispatch'
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
      - uses: actions/checkout@v2
      - name: Download Deps
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: rpm.yml
          workflow_conclusion: success
          name: Binary RPM
      - uses: actions/download-artifact@v2
        with:
          name: Binary RPM
      - run: mkdir -p dist/rpm/RPMS/x86_64/
      - run: cp *.rpm dist/rpm/RPMS/x86_64/
      - run: make packages.docker
